#topContainer {
    background-color: #0a141e;
}

body {
    background-color: #23303f;
    color: lightgray;
}

#actions {
    color: #111;
    background: rgb(160,190,220);
    border-top: solid thin #6080a0;
    border-left: solid thin #6080a0;
}

.title {
    color: #c0d0e0;
}

#awosTopContainer {
    background-color: #14202f;
}

#awosTopMenu {
    color: #d0d0d0;
}

#awosTopMenu td, th {
    border: 0.5px solid gray;
}

#activeRunway, #utcTime, #ta, #trl, #atisId, #qnh, #td, #qfe {
    color: #e0e0e0;
}

#metCond, #cb, #ts {
    color: #d0d0d0;
}

#qnhDecimal, #qfe {
    color: gray;
}

.st0{fill:#0C141D;stroke:#14202F;}
.st1{fill:#454B52;}
.st2{fill:#2A323B;stroke:#3A4352;}
.st3{fill:none;stroke:#AFB7C0;}
.st4{fill:#111C2D;stroke:#253B6E;}
.st5{fill:#3264bd;}
.st6{fill:#0C141D;stroke:#253B6E;}
.st7{fill:#CBD2DC;}
.st11{fill:#FFFFFF;}
.st14{fill:#464646;}
.st16{fill:#FFFF54;}
.st17{fill:#142233;}
.st18{fill:#8A929B;}
.st20{fill:#14202F;}
.st23{fill:none;stroke:#404449;}
.st24{fill:#90C0F0;}
.st25{fill:#FDF9D1;}
.stt0{fill:#152437;}
.stt7{fill:none;stroke:#FFFFFF;}
.stt4{fill:#CFCFCF;}
.stt8{fill: #23303f;}
.st32{fill:#FFFF54;stroke:#000000;}

.maxWindHighlight {fill:#af7f22;}
.variableHighlight {fill:#de8200;}
.variableTextHighlight {fill:white;}
.topMenuHighlight {background-color: #af7f22;}

footer {
    background-color: #102030;
}

#compassDiv {
    background-color: #384554;
    border: 1px #708090 solid;
    background-image: url('images/compass.png');
}