#topContainer {
    background: linear-gradient(to bottom,  rgba(64,150,238,1) 0%,rgba(96,171,248,1) 56%,rgba(145,200,255,1) 100%);
}

table {
    box-shadow: inset 0px 10px 10px -9px rgba(36, 36, 36, 0.8);
}


body {
    background-color: #d3dee8;
    color: black;
}

#actions {
    color: #111;
    background: rgb(160,190,220);
    border-top: solid thin #6080a0;
    border-left: solid thin #6080a0;
}

.title {
    color: white;
}

#awosTopContainer {
    background-color: #e6f2fe;
}

#awosTopMenu {
    color: black;
}

#awosTopMenu td, th {
    border: 0.5px solid gray;
}

#activeRunway, #utcTime, #ta, #trl, #atisId, #qnh, #td, #qfe {
    color: black;
}

#metCond, #cb, #ts {
    color: black;
}

#qnhDecimal, #qfe {
    color: gray;
}

.st0{fill:white;stroke:gray; stroke-width: 0.5px;}
.st1{fill:#cdd8e5;}
.st2{fill:#ecf0f9;stroke:#cdd8e5;}
.st3{fill:none;stroke:black;}
.st4{fill:#ebeff7;stroke:#4687cb;}
.st5{fill:#3e63b7;}
.st6{fill:white;stroke:#4687cb;}
.st7{fill:gray;}
.st11{fill:black;}
.st14{fill:#d9d9d9;}
.st16{fill:#FFFF54;}
.st17{fill:#bebfbf;}
.st18{fill:#565656;}
.st20{fill:#f5f5f5; stroke:gray; stroke-width: 0.5px;}
.st23{fill:none;stroke:gray;}
.st24{fill:#90C0F0;}
.st25{fill:#FDF9D1;}
.stt0{fill:#878889;}
.stt7{fill:none;stroke:black;}
.stt4{fill:#CFCFCF;}
.stt8{fill: #d3dee8;}
.st32{fill:#FFFF54;stroke:#000000;}

.maxWindHighlight {fill:#f3cd76;}
.variableHighlight {fill:#d1862f;}
.variableTextHighlight {fill:black;}
.topMenuHighlight {background-color: #e3bb73;}
.noAtisHighlight {background-color: #e66464;}

footer {
    background-color: #7aabde;
}

#compassDiv {
    background-color: #d3dee8;
    border: 0.5px gray solid;
    background-image: url('images/compass.png');
}

.footerText { 
    color: white;
}

.footerText2 { 
    color: white;
}