.activeBackground {
    fill:#444444 !important; /* override closed colors */
}

.closedBackground {
    fill:#a71411; /* override closed colors */
}

.activeWindDisplay {
    fill:rgb(0, 0, 0);
}

.activeText {
    fill:white;
    font-weight: bold;
}

.highlightInfo {
    fill:white;
}

.activeArrow {
    fill:black;
    stroke:white;
}

.activeNumbers {
    fill:#dad7d4 !important; /* override closed colors */
}

.oppositeOfActiveNumbers {
    fill:#242424 !important; /* override closed colors */
}

.closedNumbers {
    fill:#dad7d4;
}

.runwaySel1{fill:#444444;}
.runwaySel2{fill:#FFFFFF;}
.runwaySel3{fill:none;stroke:#808080;stroke-miterlimit:10;}
.runwaySel6{font-family:'Verdana'; fill:#d3d3d3;}
.runwaySel7{font-size:12px; fill:#55b0dd;}
.runwaySel8{font-size:8px;}
.runwaySel9{font-family:'Verdana';font-weight: bold;fill:#d3d3d3;}
.rwySelGradient1{stop-color:#194255;}
.rwySelGradient2{stop-color:#2f6e8f;}
