.activeBackground {
    fill:#717171 !important; /* override closed colors */
}

.closedBackground {
    fill:#d81715; /* override closed colors */
}

.activeWindDisplay {
    fill:white;
}

.activeText {
    fill:black;
    font-weight: bold;
}

.highlightInfo {
    fill:black;
}

.activeArrow {
    fill:black;
}

.activeNumbers {
    fill:black !important; /* override closed colors */
}

.oppositeOfActiveNumbers {
    fill:#363636 !important; /* override closed colors */
}

.closedNumbers {
    fill:#dad7d4;
}

.runwaySel1{fill:#B5B5B5;}
.runwaySel2{fill:#FFFFFF;}
.runwaySel3{fill:none;stroke:#808080;stroke-miterlimit:10;}
.runwaySel6{font-family:'Verdana';}
.runwaySel7{font-size:12px;}
.runwaySel8{font-size:8px;}
.runwaySel9{font-family:'Verdana';font-weight: bold;}
.rwySelGradient1{stop-color:#87B0DB;}
.rwySelGradient2{stop-color:#BFD2EB;}