body {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    background-color: rgb(232,232,232);
    background-image: url('pattern.png');
    background-repeat: repeat;
    overflow: hidden;
}
p {
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 10pt;
}
h1 {
    margin: 0;
    font-weight: 500;
    line-height: 27pt;
}
h2 {
    padding-left: 6pt;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-size: 14pt;
}
h3 {
    padding-left: 6pt;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-size: 11pt;
}
span {
    font-weight: 500;
    font-size: 14pt;
}
.arr {
    background-color: #ff9600;
}
hr {
    margin: 3px 0;
    width: 100%;
}
.leftnav {
    position: absolute;
    top: 4vw;
    bottom: 0;
    border-right: 2px inset #f4f4f4;
    border-radius: 4px;
}
@media (min-width: 1200px) {
    .leftnav {
        top: 48px;
    }
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.mainbuttons {
    margin-top: 5px;
    margin-bottom: 4px;
    width: 11vh; 
    height: 11vh; 
    max-width: 80px; 
    max-height: 80px; 
    border-color: #b3cbe6; 
    border-radius: 8px; 
    border-style: solid;
    font-size: clamp(4px, 1.7vh, 11px);
    cursor: pointer;
    padding: 0;
}
.mainbuttonActive {
    background: linear-gradient(#708fb4, #e4f0ff);
    pointer-events: none;
}
.mainbuttonInactive {
    background: linear-gradient(#e4f0ff, #bfd6f0);
    pointer-events: auto;
}
.menuTriangle {
	border-top: 2vh solid transparent;
    border-left: 3vh solid #a3bed5;
    border-bottom: 2vh solid transparent;
    margin-left: 2px;
    display: none;
}
@media (min-height: 620px) {
    .menuTriangle {
        border-top: 15px solid transparent;
        border-left: 20px solid #a3bed5;
        border-bottom: 15px solid transparent;
    }
}
.container {
    position: absolute;
    left: 12.5vh;
    top: 4vw;
    bottom: 100px;
    right: 0px;
    width: calc(100% - 94px);
    height: calc(100vh - 4vw - 64px);
}
@media (min-height: 740px) {
    .container {
        left: 92px;
    }
}
@media (min-width: 1200px) {
    .container {
        top: 48px;
    }
}
@media (min-height: 400px) {
    .container {
        height: calc(100vh - 4vw - 80px);
    }
}
@media (min-height: 580px) {
    .container {
        height: calc(100vh - 4vw - 92px);
    }
}
.warningWindow {
    display: none;
}
.lvpWindow {
    display: none;
}
footer {
    position: fixed;
    left: 12vh;
    bottom: 0;
    right: 0;
    height: 12vh;
    background-color: #E8E8E8;
    border: 2px outset #f4f4f4;
    border-radius: 4px;
    padding: 5px;
}
@media (min-height: 740px) {
    footer {
        left: 88px;
    }
}
.metar {
    background-color: white;
    border: 1px solid #dadada;
    height: 100%;
    font-size: 1.4vw;
    padding-left: 4pt;
    word-wrap: break-word;
}
@media (min-width: 1200px) {
    .metar {
        font-size: 20px;
    }
}

.runwayButton {
    margin-left: 6pt;
    margin-bottom: 6pt;
    text-align: left;
    width: 120px;
    cursor: pointer;
}
.checkbox {
    vertical-align:top;
    margin-left: 12pt;
    margin-right: 4pt;
    cursor: pointer;
}
div#station-list {
    white-space: nowrap;
    color: black;
    font-family: "FreeSans", "Helvetica", sans-serif;
    text-shadow: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    display: flex !important;
    flex-wrap: wrap;
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    position: fixed;
    left: 8%;
    top: 30px;
    width: 1000px;
    border-radius: 5px;
    border: solid thin gray;
    background-color: #3A72AA;
    box-shadow: 0px 0px 15px 0px #000;
    z-index: 999999;
    opacity: 1;
}
.airport_sel_title {
    white-space: nowrap;
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 18pt;
    padding-left: 10px;
    margin: 0px;
    margin-right: 0px;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    position: absolute;
    margin-top: -50px;
    color: white;
    text-shadow: 0px 0px 3px black;
}
.station-selection-button a:visited, .station-selection-button a:link {
    color:rgba(0, 0, 0, 0.6);
}
.station-selection-button {
    white-space: nowrap;
    font-family: "FreeSans", "Helvetica", sans-serif;
    text-shadow: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    border-radius: 2px;
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    color: black;
    line-height: 30px;
    background: rgb(20,30,40);
    background: rgb(177,213,237);
    background: -moz-linear-gradient(top,  rgba(177,213,237,1) 0%, rgba(134,174,204,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(177,213,237,1) 0%,rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(top,  rgba(177,213,237,1) 0%,rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(top,  rgba(177,213,237,1) 0%,rgba(134,174,204,1) 100%);
    background: linear-gradient(to bottom,  rgba(177,213,237,1) 0%,rgba(134,174,204,1) 100%);
    border-top: solid thin #eee;
    border-left: solid thin #eee;
    box-shadow: 2px 2px 4px 0px #222;
    cursor: pointer;
    height: 30px !important;
    width: 210px !important;
    padding: 10px;
    margin: 8px;
}
a.operative{
    color: black !important;
}
.station-selection-button.disabled-field {
    color: grey !important;
}
.station-selection-button.operative.disabled-field {
    white-space: nowrap;
    font-family: "FreeSans", "Helvetica", sans-serif;
    text-shadow: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    border-radius: 2px;
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    line-height: 30px;
    height: 30px !important;
    width: 210px !important;
    padding: 10px;
    margin: 8px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAANElEQVQIW2N8+/btfwY0sHvHOgZGdAmQoKtHEKoETBBkAFwHsiBcAl0QLLFi6ez/IDPRAQAQSiTMLt1qaQAAAABJRU5ErkJggg==);
    opacity: .5;
    cursor: not-allowed;
    border: solid thin gray;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    color: black !important;
}
.station-selection-button:hover {
    background: rgb(206,223,234);
    background: -moz-linear-gradient(top, rgba(206,223,234,1) 0%, rgba(163,187,204,1) 100%);
    background: -webkit-linear-gradient(top, rgba(206,223,234,1) 0%,rgba(163,187,204,1) 100%);
    background: -o-linear-gradient(top, rgba(206,223,234,1) 0%,rgba(163,187,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(206,223,234,1) 0%,rgba(163,187,204,1) 100%);
    background: linear-gradient(to bottom, rgba(206,223,234,1) 0%,rgba(163,187,204,1) 100%);
    box-shadow: 1px 1px 4px 0px #222;
}
.station-selection-button:active {
    box-shadow: 0px 0px 20px 0px #eef;
}
div#station-close-button {
    position:absolute;
    z-index:8888;
    width:100px;
    height:35px;
    right:45%;
    bottom:15px;
    border-radius:2px;
    font-family:sans-serif;
    font-size:1em;
    font-weight: bold;
    text-align:center;
    text-shadow:-1px -1px 5px rgba(240,240,240,0.6);
    color:#111;
    line-height:35px;
    background: rgb(177,213,237);
    background: -moz-linear-gradient(top,  rgba(177,213,237,1) 0%, rgba(134,174,204,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(177,213,237,1) 0%,rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(top,  rgba(177,213,237,1) 0%,rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(top,  rgba(177,213,237,1) 0%,rgba(134,174,204,1) 100%);
    background: linear-gradient(to bottom,  rgba(177,213,237,1) 0%,rgba(134,174,204,1) 100%);
    border-top: solid thin #eee;
    border-left: solid thin #eee;
    box-shadow: 3px 3px 3px 0px #222;
    z-index:8888;
    cursor:pointer;
}

svg { width: 100%; }

#mainSvg, #metrepSvg, #metarsSvg, #tafsSvg {
    max-width: 900px;
    width: 100%;
    height: 100%;
}
#rwyccSvg {
    max-width: 1400px;
    width: 100%;
    height: 100%;
}

.metRepField {
    background-color: #77aede;
    height: 30px;
    line-height: 30px;
    padding-left: 4pt;
    padding-right: 4pt;
    border-radius: 5px;
    margin-left: 6pt;
    width: 60%;
    font-weight: bold;
    color: #333333;
    margin-bottom: 4px;
}
.metRepFieldData {
    font-weight: 500;
    background-color: white;
    font-size: 1.0vw;
    height: 24px;
    line-height: 24px;
    width:auto;
    margin-left: 80px;
    margin-top: -27px;
}
.tafField {
    width: 92%;
    margin-right: 4px;
    height: 90px;
}
.metRepFieldTaf {
    height: 84px;
}
.snowtamContainer {
    border: 1px solid black;
    margin-top: 12px;
    margin-right: 12px;
}
#snowtamContainer1, #taxiwaysContainer1, #apronsContainer1 {
    margin-top: 2px;
}

#snowtamTitle, #snowtamTime1, #snowtamTime2, #snowtamLine1 {
    font-size: 11pt;
}

.topMenu1{fill:#0570BD;stroke:#A0A0A0;stroke-miterlimit:10;}
.topMenu2{fill:#FF9600;stroke:#A0A0A0;stroke-miterlimit:10;}
.topMenu3{fill:#FFFFFF;}
.topMenu4{fill:#FFFFFF;stroke:#A0A0A0;stroke-miterlimit:10;}
.topMenu5{fill:#CFE2F6;stroke:#A0A0A0;stroke-miterlimit:10;}
.topMenu6{font-family:'Verdana';}
.topMenu7{font-size:9px;}
.topMenu8{font-size:20px;}
.topMenu9{font-size:7px;}
.topMenu10{font-size:11px;}
.topMenu11{font-size:14px;}
.topMenu12{fill:#B5B5B5;}
.topMenu13{font-size:16px;}
.topMenu14{font-size:28px;}
.topMenu15{font-size:30px;}
.topMenuGreen{fill:green; font-size: 8pt; cursor: pointer;}

.atisWindow {
    background: linear-gradient(#bbd4f0, #77aede); 
    text-align: center; 
    font-size: 12pt;
    margin: 10pt;
    padding: 4px; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
    height: 26px;
}
.atisText {
    position: absolute;
    padding: 4pt; 
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    overflow: hidden;
    left: 4px;
    right: 4px;
    top: 58px;
    bottom: 24px;
    font-size: 10pt;
    color: #333333;
}
@media (min-width: 1200px) {
    .atisText {
        font-size: 12pt;
    }
    .atisWindow {
        font-size: 16pt; 
    }
}
#topMenuSvg{
    width: 100%; 
    max-height: 48px;
}

#topMenuBackground { fill:url(#SVGID_1_); }

.customBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4vw;
    max-height: 48px;
    background-image: linear-gradient(#009ac7, #007492);
}

.leftNav0{fill:none;}
.leftNav1{fill:url(#mainBackgroundGradient);stroke:#C0D7F0;stroke-width:0.25;stroke-miterlimit:10;}
.leftNav1_1{fill:url(#mainBackgroundGradient2);stroke:#C0D7F0;stroke-width:0.25;stroke-miterlimit:10;}
.leftNav2{font-family:'verdana';}
.leftNav3{font-size:8px;}
.leftNav4{fill:#A5BFD6;}
.leftNav5{fill:url(#rwy1BackgroundGradient);stroke:#C0D7F0;stroke-width:0.25;stroke-miterlimit:10;}
.leftNav6{fill:url(#rwy2BackgroundGradient);stroke:#C0D7F0;stroke-width:0.25;stroke-miterlimit:10;}
.leftNav7{fill:url(#rwy3BackgroundGradient);stroke:#C0D7F0;stroke-width:0.25;stroke-miterlimit:10;}
.leftNav8{fill:url(#snowtamBackgroundGradient);stroke:#C0D7F0;stroke-width:0.25;stroke-miterlimit:10;}
.leftNav8_1{fill:url(#snowtamBackgroundGradient2);stroke:#C0D7F0;stroke-width:0.25;stroke-miterlimit:10;}
.leftNav9{fill:url(#metReportBackgroundGradient);stroke:#C0D7F0;stroke-width:0.25;stroke-miterlimit:10;}
.leftNav9_1{fill:url(#metReportBackgroundGradient2);stroke:#C0D7F0;stroke-width:0.25;stroke-miterlimit:10;}
.leftNav11{fill:url(#setupBackgroundGradient);stroke:#C0D7F0;stroke-width:0.25;stroke-miterlimit:10;}
.leftNav11_1{fill:url(#setupBackgroundGradient2);stroke:#C0D7F0;stroke-width:0.25;stroke-miterlimit:10;}
.leftNav12{fill:url(#awosViewBackgroundGradient);stroke:#C0D7F0;stroke-width:0.25;stroke-miterlimit:10;}
.leftNav10{font-size:8px;}

#leftNavSvg {
    height: 100%;
    max-height: 700px;
}
.metButtons {
    background-color: #E6E6E6; 
    border: 1px solid gray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 1.2vw;
    margin-top: 4px;
    margin-left: 0;
    margin-right: -6px;
    box-sizing: border-box;
    width: 10vw;
    height: 3vw;
    max-width: 80px; 
    max-height: 28px;
    cursor: pointer;
}
@media (min-width: 1000px) {
    .metButtons {
        font-size: 12px;
    }
}

#metRepButtonsContainer { display: flex; }

.st0{fill:#B5B5B5;}
.st1{fill:#2C393D;}
.st2{fill:#DADADA;}
.st3{fill:#B9B8BA;}
.st4{font-family:'Verdana';}
.st5{font-size:20px;}
.st6{font-size:29px;}
.st7{fill:#DADADA;}
.st8{font-family:'Verdana';}
.st9{font-size:34px;}
.st10{fill:none;stroke:#000000;stroke-miterlimit:10; transform-box: fill-box; transform-origin: center;}
.st11{fill:#D80000;}
.st12{font-family:'Verdana';}
.st13{font-size:18px;}
.st14{fill:#F09B36;stroke:#000000;stroke-miterlimit:10;display: none;}
.rwyccBox1{fill:#333333;}
.rwyccBox2{font-size:21px;}
.rwyccBox3{fill:none;stroke:#dadada;stroke-miterlimit:10; stroke-width: 2px; fill: #ececec;}
.st15{fill:#4397C3;stroke:#000000;stroke-miterlimit:10;display: none;}
.st16{text-anchor: end;}
.st17{font-size:17px; fill:#404040;}

.metRepDivContainer, #rwyccDiv {
    display: none; 
    position: absolute;
    left: 0;
    top: 0;
    bottom: 110px;
    right: 0px;
    width: calc(100%);
    height: calc(100vh - 4vw - 110px);
}

/* SNOWTAM */

table {
    margin-top: 12px;
    width: 100%;
    border-collapse: collapse;
}
th {
    border: 1px solid black;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 14px;
}
@media (max-width: 1000px) {
    table { font-size: 1.5vw; }
    .snowtamContainer h3 { font-size: 1.5vw; }
    #snowtamTitle { font-size: 1.5vw; }
    #snowtamTime1, #snowtamTime2, #snowtamLine1 { font-size: 1.5vw; }
    .snowtamContainer h2 { font-size: 2vw; }
}
.snowtamTwyLeft {
    border-right: none;
    text-align: left;
    width: 23.333%;
    font-weight: normal;
    font-size: 9pt;
}
.snowtamTwyRight {
    border-left: none;
    text-align: right;
    width: 10%;
    font-weight: normal;
    font-size: 9pt;
}
.snowtamTwyTitle {
    font-size: 12pt;
}

@media (max-width: 1070px) {
    .snowtamTwyLeft {
        font-size: 1vw;
    }
    .snowtamTwyRight {
        font-size: 1vw;
    }
    .snowtamTwyTitle {
        font-size: 1.1vw;
    }
}

#metButton1, #snowtamButton1 { pointer-events: none; }

/* METREP svg */

.stt0{fill:#009ac7;}
.stt1{fill:#3F3F3F;}
.stt2{font-family:'Verdana'; font-weight: bold;}
.stt3{font-size:16px;}
.stt4{fill:#FFFFFF;}
.stt5{font-family:'Verdana'; color: #3F3F3F;}
.stt6{font-size:24px;}
.stt7{font-size:12px;}
.stt8{fill:#FFFFFF;stroke:#595959;stroke-miterlimit:10;}
.stt9{fill:none;stroke:#595959;stroke-miterlimit:10;}
.stt10{font-size:20px;}

/* METARS svg */

.sttt0{fill:#009ac7;}
.sttt1{fill:#3F3F3F;}
.sttt2{font-family:'Verdana'; font-weight: bold;}
.sttt3{font-size:16px;}
.sttt4{fill:#FFFFFF;}
.sttt5{font-family:'Verdana';}
.sttt6{font-size:17px;}

#actions {
    position: absolute;
    width: 76px;
    height: 34px;
    left: 4px;
    bottom: 4px;
    padding-left: 8pt;
    padding-right: 8pt;
    border-radius: 2px;
    font-size: 9pt;
    font-weight: 600;
    text-align: center;
    color: #111;
    background: linear-gradient(#e4f0ff, #bfd6f0);
    cursor: pointer;
    border: 0.5px solid #b3cbe6;; 
    border-radius: 8px; 
}

.rwycc0{fill:none;}
.rwycc1{fill:none;stroke:#FFFFFF;stroke-width:1.44;}
.rwycc2{fill:#D3D3D3;}
.rwycc3{fill:none;stroke:#B4B4B4;stroke-width:4;stroke-miterlimit:10;}
.rwycc4{fill:none;stroke:#B4B4B4;stroke-width:4;stroke-miterlimit:10;stroke-dasharray:14.738,14.738;}
.rwycc5{fill:url(#pattern1);}
.rwycc6{fill:#FFFFFF;}
.rwycc7{fill:#F4A625;}
.rwycc8{font-family:'Arial'; font-width:'bold';}
.rwycc9{font-size:22px;}
.rwycc10{fill:none;stroke:#F4A625;stroke-width:2;stroke-miterlimit:10;}
.rwycc11{fill:#F5A623;}
.rwycc12{fill:#F5A623;stroke:#000000;stroke-miterlimit:10;}
.rwycc13{font-size:36px;}
.rwycc14{font-size:12px;}
.rwycc15{font-size:18px;}
.rwycc16{font-size:16px;}
.rwycc17{fill:url(#pattern2);}
.rwycc18{fill:url(#pattern3);}
.rwycc19{font-size:23px;}
.rwycc20{font-size:11px;}
.rwycc21{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.rwycc22{font-size:24px;}